.LandingSectionWrapper{ 
    width: 100%;
    padding: 40px 18%; 
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1599496507927-9056debd0f0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    overflow: hidden; 
    background-repeat:no-repeat; 
    background-position: center; 
    background-size: cover;
    margin : 0 ; 
    height: 100%; 
    color : white ; 
} 
.inputbox{
width : 80% ;
padding: 15px 42px;

outline : none ;  
border : none ; 
border-radius : 8px ; 


} 
.SearchBarWrapper{
position : relative ; 



} 
.SearchBarWrapper > button {
    position: absolute;
    top: 7px;
    right: 22%;
    padding: 8px 8px;
    border-radius: 8px; 
    border : 0.4px solid lightgrey ; 
    background-color: white;
    cursor : pointer ; 
    outline : none ; 
} 
.SearchBarWrapper > button:hover{
 font-weight: 500;
 background-color: whitesmoke;
} 
.SearchBarWrapper > svg{

    position: absolute;
    left: 12px;
    top: 15px;
    color: lightgrey;
    cursor : pointer ;  
} 
.SearchBarWrapper > svg:hover {

color  : black ; 


} 

.lightspan{
font-weight : 100 ;

} 

.giftIcon{

    color : orangered ; 
    margin-left : 3px ; 
}