.MainImgDivWrapper{

    display: grid;
    grid-column-gap: 47px;
    grid-template-columns: repeat(3,1fr);
    /* padding-bottom: 89px; */
    grid-row-gap: 36px;
   
}

.Imgwrapper{ 
width : 100% ; 
border-radius: 10px;
} 
.Imgwrapper1{ 
    width : 100% ; 
    border-radius: 10px;
    } 